#timer {
    font-family: 'Courier New', Courier, monospace;
}

#story {
    display: grid;
    align-items: center;
    justify-self: center;
    width: 50%;
    background-color: white;
}

#story img {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: black;

}

h1 {
    color:white;
}

#sidePanel {
    display: block;
    float: right;
    background-color: white;
}

button {
    background-color: black;
    color: white;
}

#story {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 25px;
}